---
---

@import "timeline";
@import "skills";
@import "themes";

#bar {
  text-align: center;
  padding: 2rem 1rem;
  .site-image {
    width: 180px;
    height: 180px;
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
  }
}

@media screen {

  .content-core {
    padding: 4rem;
  }

  #bar {
    .site-title {
      position: relative;
      text-align: center;
    }
    .icons {
      text-align: center;
    }
    .icon-link {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 3rem;
      outline: none;
    }
    .icon-link:focus, .icon-link:hover, .icon-link:active {
      outline: none;
    }
  }

  /* 768px */
  @media (min-width: 48em) {
    #bar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 30rem;
      text-align: left;
      .site-image {
        margin: 0 auto;
        width: 180px;
        height: 180px;
        -webkit-border-radius: 160px;
        -moz-border-radius: 160px;
        border-radius: 160px;
        display: inline-block;
      }
      .center {
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
    }
    #content-wrapper {
      margin-left: 30rem;
    }
  }

  /* 992px */
  @media (min-width: 62em) {
    #bar {
      width: 34rem;
    }
    #content-wrapper {
      margin-left: 34rem;
      max-width: 90rem;
    }
  }
}

@media print {

  body {
    font: 11pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

  a {
    display: none;
    visibility: hidden;
    &:after {
      content: " (" attr(title) ")";
    }
  }
  .content-core {
    padding-left: unset !important;
    padding-right: unset !important;

    .col-experience, .col-skills {
      float: left;
    }
    .col-education, .col-languages {
      float: right;
    }
    .col-experience, .col-education, .col-skills, .col-languages {
      max-width: 50%;

      .exp {
        page-break-inside: avoid;
        padding-left: unset !important;
        padding-top: unset !important;
        padding-bottom: 20px;
        &:after {

          border: unset !important;
        }
      }
      .skills {
        page-break-inside: avoid;
      }
      .skill-level {
        display: none;
      }
    }
    .projects-wrapper {
      max-width: 49%;
      margin-right: 1%;
      float: left;
    }
    .hobbies-wrapper {
      max-width: 49%;
      margin-left: 1%;
      float: right;
    }
  }
  #bar {
    min-height: 250px;
    .center {
      position: relative;
      float: left;
      .site-image {
        margin-left: 50px;
      }

    }
    .barbar {
      .contact-info {
        position: unset !important;
        float: unset !important;
        a {
          display: unset !important;
          visibility: unset !important;
          &:after {
            content: " " !important;
          }
        }
      }
    }
  }
  .intro {
    .section-title {
      .name {
        display: none;
      }
    }
  }
}
