---
---

@import "timeline";
@import "skills";
@import "themes";
.content-core {
  padding: 4rem;
}


#bar {
  text-align: center;
  padding: 2rem 1rem;
  .site-image {
    width: 180px;
    height: 180px;
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
  }
  .site-title {
    position: relative;
    text-align: center;
  }
  .icons {
    text-align: center;
  }
  .icon-link {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 3rem;
    outline: none;
  }
  .icon-link:focus, .icon-link:hover, .icon-link:active {
    outline: none;
  }
}

/* 768px */
@media (min-width: 48em) {
  #bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30rem;
    text-align: left;
    .site-image {
      margin: 0 auto;
      width: 180px;
      height: 180px;
      -webkit-border-radius: 160px;
      -moz-border-radius: 160px;
      border-radius: 160px;
      display: inline-block;
    }
    .center {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
  }
  #content-wrapper {
    margin-left: 30rem;
  }
}

/* 992px */
@media (min-width: 62em) {
  #bar {
    width: 34rem;
  }
  #content-wrapper {
    margin-left: 34rem;
    max-width: 90rem;
  }
}

@media (max-height: 34em) {
  .site-title {
    display: none;
  }
  .description {
    display: none;
  }
}