<div class="col-sm-12 col-md-6">
    <div class="experience">
        <div class="section-title">
            <h3>Experience</h3>
        </div>
        <div class="section-wrapper">
            <div class="timeline content">
                {% for post in site.posts %}
                  {% if post.category == "experience" %}
                    <div class="exp">
                      <div class="exp-header">
                        <h4>
                          {{ post.title }} - {{ post.company }}
                        </h4>
                        <h6>
                          <i class="fa fa-calendar-o"></i>
                          {{ post.duration }}
                        </h6>
                        <p>
                          {{ post.content }}
                        </p>
                      </div>
                    </div>
                  {% endif %}


                {% endfor %}

            </div>
        </div>
    </div>
</div>