<div class="projects-wrapper">
    <div class="projects">
        <div class="section-title">
            <h3>Personal projects</h3>
        </div>
        <div class="section-wrapper">
            <div class="row">
                {% for post in site.posts %}
                    {% if post.category == "project" %}
                        <div class="project col-xs-12 col-sm-6 col-md-6">
                            <div class="project-header">
                                <h4>
                                    {{ post.name }}
                                    <a href="{{ post.repo_url }}" target="_blank" title="{{ post.repo }}">
                                        <i class=" fa fa-{{ post.repo }}"></i>
                                    </a>
                                </h4>
                                <p>
                                    {{ post.content }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>