<div id="bar">
  <div class="barbar">
    {% if site.image %}
    <div class="center">
      <img class="site-image" src="{{ site.image }}"/>
    </div>
    {% endif %}
    <div class="site-title">
      <h1>
        {{ site.name }}
      </h1>
      <p class="description">{{ site.tagline }}</p>
    </div>
    <div class="contact-info center">
      {% if site.email %}
      <p><strong>{{ site.email_text}}: </strong><a href="mailto:{{ site.email }}" title="{{ site.email }}">{{ site.email }}</a> </p>
      {% endif%}
      {% if site.phone %}
      <p><strong>{{ site.phone_text }}: </strong>{{ site.phone }}</p>
      {% endif%}
      {% if site.dob %}
      <p><strong>{{ site.dob_text}}: </strong>{{ site.dob }} </p>
      {% endif%}
      {% if site.address %}
      <p><strong>{{site.address_text}}: </strong>{{ site.address }} </p>
      {% endif%}
    </div>
    <div class="icons">
      {% if site.github_username %}
      <a class="icon-link" target="_blank" title="Github" href="https://github.com/{{ site.github_username }}"><span class="fa fa-github"></span></a>
      {% endif %}
      {% if site.linkedin_url %}
      <a class="icon-link" target="_blank" title="LinkedIn" href="{{ site.linkedin_url }}"><span class="fa fa-linkedin"></span></a>
      {% endif %}
      {% if site.twitter_handle %}
      <a class="icon-link" target="_blank" title="Twitter" href="https://twitter.com/{{ site.twitter_handle }}"><span class="fa fa-twitter"></span></a>
      {% endif %}
    </div>
  </div>
</div>