.timeline {
  position: relative;

  &:before {
    bottom: 0;
    content: "";
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px;
    height:100%;
    margin-top: 25px;
  }
}

.exp{
  padding-left: 50px;
  padding-top: 20px;
  position:relative;
  margin-bottom:10px;
}

.exp:after{
  content: "";
  height: 15px;
  left: 12px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 15px;
  border-radius: 12px;
}

.exp .exp-header h4, h6{
  margin-bottom:0;
}

.exp .exp-header h4{
  text-transform:none;

}

.exp .exp-header{
  margin-bottom:5px;
}

.exp .exp-header h6{
  text-transform:none;
  font-size:12px;
}

.exp .exp-header h6 i{
  margin-right:5px;
}