<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="wrapper">
      {% include sidebar.html %}
      <div id="content-wrapper">
        <div class="container-fluid content-core">
          {% include intro.html name=site.name title=site.title abstract=site.abstract %}
          <div class="row">
            {% include experience.html %}
            {% include education.html %}
          </div>
          {% include skills.html %}
        </div>
      </div>
    </div>
  </body>

</html>
